html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: #660708;
    color: #f5f3f4;
    padding: 15px 15vw 15px 15vw;
}

header h1 {
    margin-right: auto;
    font-size: 32px;
    font-weight: 900;
}

header a {
    color: #f5f3f4;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content{
    display: flex;
    flex-direction: row;
    gap: 52px;
    background-color: #660708;
    color: #f5f3f4;
    padding: 50px 15vw 50px 15vw;
}

main .content img{
    max-width: 35vw;
    height: auto;
    box-shadow: 3px 3px 5px #0b090a;
    border-radius: 10px;
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text h1{
    font-size: 48px;
}

.content-text p{
    font-size: 18px;
}

.content-text a{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;

    background-color: #e5383b;
    border-color: #e5383b;
    color:#f5f3f4;

    font-size: 18px;
    font-weight: 800;

    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.content-text a:hover{
    box-shadow: 0 0 8px #0b090a;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: #a4161a;
    color: #ffffff;
    width: 100%;
}

.information h2{
    font-size: 38px;
}

.information-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.information .information-pics img{
    height: 13vw;
    width: 13vw;
    border: 0.5vw solid #6607087F;
    border-radius: 5%;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f3f4;
    padding: 50px 25vw;
}

.quote .main-quote{
    width: 100%;
    font-size: 50px;
    color: #161a1d;
    
}

.quote .author-quote{
    align-self: flex-end;
    font-size: 20px;
}

.sign-up{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #b1a7a6;
}

.sign-up-background {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    background-color: #a4161a;
    justify-content: center;
    align-items: center;
    gap: 52px;
    border-radius: 10px;
}

.sign-up-text{
    display: flex;
    flex-direction: column;
}

.sign-up-text .action{
    font-size: 30px;
    color: #f5f3f4;
}

.sign-up-text .product{
    font-size: 20px;
    color: #f5f3f4;
}

.sign-up-background a{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    background-color: #660708;
    border-color: #f5f3f4;
    color:#f5f3f4;

    font-size: 18px;
    font-weight: 800;

    border: 2px solid;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.sign-up-background a:hover{
    box-shadow: 0 0 8px #0b090a;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #660708;
    color: #f5f3f4;
}